/* 
#join{
    margin: 0 auto;
    text-align: center;
    display: table;
}

.first {
    vertical-align: top;
    width: 158px; 
    height: 60px;	
    padding: 15px 0px 0px 10px;
}
.second {
    width: 158px; 
    height: 60px;	
    padding: 15px 0px 0px 10px;
}
.inputForm {
    width: 332px;
    height: 44px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
} 
*/